<h3>Diagrama del proceso</h3>
<div class="scroll-canvas">
    <div id="canvas"></div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    load_bpmn();
  });//document ends
</script>
