<% if @current_user_practice.nil? %>
  <div class="questions-finished">
    <h2>Cuestionario terminado</h2>
    <p> Termina el digrama y presiona Guardar </p>
  </div>
<% else %>
  <% @practice = @current_user_practice.practice %>

  <h3> Identificación de prácticas </h3>
  <div class="row">

    <div class="col-md-8">
      <div class="question">
        <%= @practice.question %> <br>
      </div>
      <%= simple_format(@practice.examples) %>
    </div>

    <div class="col-md-4">
      <%= render 'form_answers' %>
    </div>

  </div>
<% end %>
