<% if @current_user_practice.nil? %>
  <div class="questions-finished">
    <h2 class="modal-title">Cuestionario terminado</h2>
    <p> Termina el digrama y presiona Guardar </p>
    <a id="save-diagram" class="btn btn-primary"> Guardar diagrama </a>
  </div>
<% else %>
  <% @practice = @current_user_practice.practice %>

  <h2 class="modal-title">Identificación de Prácticas</h2>


  <div class="row">
    <div class="col-md-7 question">
      <div class="text-head-h3">
        <%= @practice.question %>
      </div>
      <div class="question_examples question">
        <%= simple_format(@practice.examples) %>
      </div>
    </div>

    <div class="col-md-5">
      <%= render 'form_answers' %>
    </div>
  </div>
  
<% end %>
