<!--done starts-->
<div class="section-padding">
  <div class="container">
      <h1 class="text-head">Resultados</h1>
      <% if @sample < @cont_users %>
        <p>Ok empezando a calcular</p>
      <% else %>
        <p class="text-center">
          Sólo <%= @cont_users %> en la empresa: <%= @company.name %> ha realizado el cuesionario <br>
          Faltan <%= @sample - @cont_users %> personas de a para poder calcular los resultados
        </p>
      <% end %>

  </div>
</div>
<!-- done ends-->
