<div class="container">
  <div id="cuestionario">
    <%= render 'cuestionario' %>
  </div>

  <div id="bpmn">
    <% if current_user.is_sepg? %>
    <%= render 'bpmn' %>
    <% else %>
      <div style="height:250px;">

      </div>
    <% end %>
  </div>
</div>
