<div class="container">
  <div id="cuestionario">
    <%= render 'cuestionario' %>
  </div>

  <div id="bpmn">
    <% if current_user.is_sepg? %>
    <%= render 'bpmn' %>
    <% end %>
  </div>  
</div>
