<!-- Login -->
<div id="modalLogin" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-modal">
          <%= render :file => 'devise/sessions/new' %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Login ends -->


<!-- Register-->
<div id="modalRegister" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-modal">
          <%= render :file => 'devise/registrations/new' %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Register ends -->


<!-- Edit user-->
<div id="modalEditUser" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-modal">
          <%= render :file => 'devise/registrations/edit' %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Edit user ends -->
