<!--acerca starts-->
<div class="section-padding">
  <div class="container">
    <h1 class="text-head">Acerca del método</h1>

    <div class="text-center">
      <img src="/assets/general-flowchart.png" alt="General Flowchart"  />
    </div>

  </div>
</div>
<!--contact ends-->
