<!--acerca starts-->
<div class="section-padding">
  <div class="container">
    <h1 class="text-head">Acerca del método</h1>

    <div class="text-center">
      <%= image_tag "general-flowchart.png" %>
    </div>

  </div>
</div>
<!--contact ends-->
