<!--contact starts-->
<div id="contact" class="section-padding">
  <div class="container">
    <div class="col-md-12">
      <h1 class="text-head">Contáctanos</h1>
    </div>    
    <div class="col-sm-6 col-md-6">
      <div class="col-md-12">
        <form role="form">
          <h2>Contáctanos</h2>
          <div class="form-group">
            <label for="text">Nombre:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" class="form-control" id="pwd">
          </div>
          <div class="form-group">
            <label for="message">Mensaje:</label>
            <textarea type="password" class="form-control" id="pwd"></textarea>
          </div>
          <div class="form-group">
            <label><input type="checkbox"> Recuérdame</label>
          </div>
          <button type="submit" class="btn btn-default">Enviar</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="col-md-12">
        <h2>Dirección</h2>
      </div>
      <div class="col-md-12 small-address">
        <div id="map-canvas"></div>
        <p><i class="fa fa-university"></i> Centro de Investigación en Matemáticas, Unidad Zacatecas</p>
        <p><i class="fa fa-map-marker"></i> Av. Universidad No. 222, 98068 Guadalupe, Zacatecas, México </p>
        <p><i class="fa fa-envelope-o"></i>
          <%= link_to "juan.miramontes@cimat.mx", "mailto:juan.miramontes@cimat.mx" %> |
          <%= link_to "mirna.munoz@cimat.mx", "mailto:mirna.munoz@cimat.mx" %>
        </p>
      </div>
    </div>
  </div>
</div>
<!--contact ends-->
