<!-- banner starts -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-text text-center">
                <h2>MAPS - Método para Aligerar <br> Procesos de Software </h2>
                <p>Utilizando técnicas Lean y prácticas ágiles</p>
                <a data-toggle="modal" data-target="#modalRegister" href="">Regístrate</a>
            </div>
        </div>
    </div>
</section>
<!--  banner ends -->

<!--quote section-->
<div id="quote-desc">
    <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-md-offset-1 desc-text">
                    <p class="text-center"><span>"</span>Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.<span>"</span></p>
                </div>
                <div class="col-md-12 desc-author">
                    <p class="text-center">Antoine de Saint-Exupery</p>
                </div>
            </div>
    </div>
</div>
<!--quote ends-->
