<% if user_signed_in? %>

  <!--welcome user_signed_in -->
  <div class="welcome">
    <div class="container">
      <h1 class="text-head">¡Bienvenid@ <%= current_user.name %>!</h1><br>
      <p><b>MAPS.</b> Es un método para aligerar procesos de software mediante la optimización en la selección de pŕacticas de Ingeniería de Software. Las prácticas utilizadas en esta aplicación pertenecen al área de proceso de Planificación de Proyecto.</p>
      <p>Para comenzar a utilizar el método ve a <%= link_to "Ejecutar el método", survey_path %>, donde es necesario contestar un cuestionario para la identificación de prácticas y conjuntamente calificarlas. Si perteneces al grupo de procesos o eres el encargado de mejoras, tendrás que modelar el proceso de la empresa con base a las prácticas identificadas.</p>
      <p>Para conocer más sobre el funcionamiento del método visita el enlace: <%= link_to "Acerca del método", about_path %>.</p>
      </div>
  </div>
  <!--welcome ends-->

<% else %>

  <!-- banner starts -->
  <section class="banner">
      <div class="container">
          <div class="row">
              <div class="col-md-12 banner-text text-center">
                  <h2>MAPS - Método para Aligerar <br> Procesos de Software </h2>
                  <p>Utilizando técnicas Lean y prácticas ágiles</p>
                  <a data-toggle="modal" data-target="#modalRegister" href="">
                    Regístrate
                  </a>
              </div>
          </div>
      </div>
  </section>
  <!--  banner ends -->

  <!--quote section-->
  <div id="quote-desc">
      <div class="container">
              <div class="row">
                  <div class="col-md-offset-1 col-md-10 col-md-offset-1 desc-text">
                      <p class="text-center"><span>"</span>Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.<span>"</span></p>
                  </div>
                  <div class="col-md-12 desc-author">
                      <p class="text-center">Antoine de Saint-Exupery</p>
                  </div>
              </div>
      </div>
  </div>
  <!--quote ends-->

<% end %>
