<h3>Diagrama del proceso</h3>
<div id="canvas"></div>

<script type="text/javascript">
  $(document).ready(function(){
    load_bpmn();
  });//document ends
</script>

<!--
    Download:
    <a id="js-download-diagram" href title="download BPMN diagram">
      BPMN diagram</a>
      &nbsp;|
    <a id="js-download-svg" href title="download as SVG image">
      SVG image
    </a>
-->
