<h2>Cuestionario</h2><br>

<div id="practices">
	<%= render "practices" %>
</div>

<script>
$(function(){
   $('.pagination a').attr('data-remote', 'true')
});
</script>


<% if current_user.is_sepg? %>
  <%= render 'bpmn' %>
<% end %>
