/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, #container, #canvas {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 50px;
}
#canvas{
	margin: 0 auto;
  height: 500px;
  background-color: red;
}

label{
  cursor: pointer;
  font-weight: normal;
}
input[type="radio"]:checked+label { font-weight: bold; }

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#error_explanation h2 {
 display: none;
}
#error_explanation{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 3px 0;
}

/* Preguntas */
.question{
  font-weight: bold;
}
.answer-head{
  font-weight: bold;
  margin-top:10px;
}
.star, #hintStars{
  display: inline-block;
}
