/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*= require_tree .
*= require font-awesome
*= require_self
*/


/**  Reset CSS **/
html, body, div,
h1, h2, h3, h4, p{
	margin: 0;
	padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
.section-padding { padding:30px 0px; }


body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 1;
}

/** Main titles **/
.text-head  /* h1 */
{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  padding: 0px 0 10px 0;
  color: #999;
}
.text-head::after {
  display: block;
  margin: 10px auto 0px;
  width: 70px;
  height: 1px;
  background: #19A9E5 none repeat scroll 0% 0%;
  content: "";
}
.text-head-h2{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding-bottom: 12px;
	color: #666;
}
.text-head-h3{
  font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
}

.modal-title{
  margin-top: 15px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #999;
}
.modal-title::after {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 70px;
  height: 1px;
  background: #19A9E5 none repeat scroll 0% 0%;
  content: "";
}


/**header**/
#header
{
  background-color: #fff;
}
.navbar-default{
  background-color: #fff !important;
	background-color: #fafafa !important;
  border-bottom: 1px solid #e7e7e7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #9AD22D;
	background-color: #fafafa;
}
.navbar-default .navbar-brand  {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #9AD22D;
}
.navbar-default .navbar-nav > li > a {
  color: #A4A6A5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover
{
  color: #9AD22D;
}
.img-grav{
  vertical-align: middle;
  width: 28px;
  margin-right: 5px;
}
.banner
{
  background: url("http://placehold.it/4133x1990/303030/404040") no-repeat 0% 0% / 100% 100%;
  padding-bottom: 131px;
}
.banner-text p, .banner-text a{
  font-family: 'Open Sans Condensed', sans-serif;
}
.banner-text a{
  font-weight: 14px;
}
.banner-text h2
{
  font-family: 'Raleway', serif;
  color: #ffffff;
  font-size: 48px;
  padding: 131px 0 10px 0;
}
.banner-text h2 span
{
  color: #9AD22D;
}
.banner-text p {
  font-size: 24px;
  color: #fcffff;
  padding-bottom: 10px;
}
.banner-text a
{
  font-size: 18px;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 71px;
  background-color: #9AD22D;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
}
.banner-text a:hover
{
  color:#fff;
}
.navbar-default {
  background:none;
}
/**quote**/
#quote-desc
{
  padding: 40px 0px;
}
.desc-text p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
.desc-author p{
	font-size: 22px;
  font-family: 'Monserrat', sans-serif;
	color: #999;
	margin-top: 5px;
}
.banner-text p span {
  display: block;
}


.input-group{
  margin-bottom: 15px;
}
/**contact**/
#contact h2{
	font-family: "Raleway",sans-serif;
  color: #0e0e0e;
  font-size: 24px;
  padding-bottom: 12px;
	margin-top: 10px;
}
#contact .form-group{
  font-family: 'Open Sans Condensed', sans-serif;
}
.form-group input, .form-group textarea
{
  background-color: rgba(25, 169, 229, 0.26);
}
.form-group textarea
{
  height:150px;
  resize:none;
}
#contact label {
	font-weight: normal;
  color: #0e0e0e;
}
/*
.btn-default {
  color: #ffffff;
  background-color: #19A9E5;
  border-color: #CCC;
  padding: 8px 30px;
}
*/
.small-address p
{
  color:	#0e0e0e;
  font-size:	20px;
  padding-top: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.small-address p i{
  color:	#9AD22D;
  width:30px;
  height: 30px;
  ight: 50px;
}

/** modals **/
.modal-dialog{
  width: 350px;
}

.devise-forms{
  width: 300px;
  margin: 0 auto;
}

.field{
	font-size: 14px;
}

a.forgot {
	z-index: 3;
	color: #909090;
	font-size: 12px;
	position: absolute;
	right: 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	top: 9px;
}



/** Radio buttons **/
/******************/
.rd-btn { clear: both; }
.rd-btn label {
	margin-bottom: 0;
	color: #999;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}
input.radio{ margin: 0;}
/* hide input */
input.radio:empty {	margin-left: -999px; }
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2em;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}
input.radio:hover:not(:checked) ~ label { color: #888; }
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	color: #c2d1a5;
	color: #d9ded1;
	background-color: #4DCB6D;
	background-color: #9bd12e;
}
input.radio:checked ~ label { color: #777; }
input.radio:focus ~ label:before { box-shadow: 0 0 0 3px #999; }

/*  Hay que revisar todas las medias, ver cuales no se están utilizando, y
de las que se utilizan actualizarlas
*/
/**media Queries**/
@media (min-width: 768px) and (max-width: 980px)
{
  .sub-text h3
  {
    font-size: 28px;
  }
  .sub-text p
  {
    font-size: 14px;
  }
  .img-portfolio
  {
    padding-bottom: 5px;
  }
}
@media (min-width:360px ) and (max-width: 768px)
{
  .banner-text h2 {
    font-size: 41px;
    padding: 100px 0px 10px;
  }
  .quote-desc p {
    font-size: 30px;
    padding: 30px 0px;
  }
  .large-box h3 {
    font-size: 25px;
  }
  .sub-icon i
  {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 100px;
  }
  .sub-text h3 {
    padding-top: 20px;
    font-size: 25px;
  }
  .sub-text p
  {
    font-size: 14px;
  }
  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
  {
    margin-bottom: 20px;
  }
  .small-address p {
    font-size: 15px;
  }
  .btn-default {
    padding: 4px 5px;
  }
  .text-contact h3 {
    font-size: 20px;
  }
  .text-address h3 {
    font-size: 24px;
  }
  .footer-line p {
    font-size: 11px;
  }
}
@media (min-width:30px ) and (max-width: 360px)
{
  .banner-text h2 {
    font-size: 32px;
    padding: 50px 0px 10px;
  }
  .quote-desc p {
    font-size: 18px;
    padding: 30px 0px;
  }
  .large-box h3 {
    font-size: 22px;
  }
  .sub-icon i
  {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 100px;
  }
  .sub-text h3 {
    padding-top: 20px;
    font-size: 25px;
  }
  .btn-default {
    padding: 4px 5px;
  }
  .sub-text p
  {
    font-size: 14px;
  }
  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
  {
    margin-bottom: 20px;
  }
  .small-address p {
    font-size: 15px;
  }
  .text-contact h3 {
    font-size: 20px;
  }
  .text-address h3 {
    font-size: 22px;
  }
  .footer-line p {
    font-size: 10px;
  }
}


/* Digram */
.scroll-canvas{
	overflow:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fafafa;
	border: 1px solid #ddd;
	padding: 15px 2px;
}
#canvas{
	height: 650px;
	background-color: #fafa;
}

/** Display errors **/
#error_explanation{
  padding: 15px;
  margin-bottom: 20px;
  color: #a94442;
  border: 1px solid transparent;
  background-color: #f2dede;
  border-radius: 4px;
}
#error_explanation h2 { display: none; }
#error_explanation ul li{ list-style: none; }
.alert-info{ margin-top: 15px;}

/* Preguntas */
.question{ line-height: 1.3; }
.question_examples{ font-size: 16px; color: #777; }
.questions-finished{ margin: 50px 0; text-align: center; }
.mtop{ margin-top:10px;}
.star, #hintStars{ display: inline-block; }
.added-value-title{
	font-weight: bold;
	clear: both;
	margin-top: 15px;
	/*margin-top: 50px;*/
}

/* Resultados */
.table{
	font-size: 14px;
	margin-bottom: 0px;
}
.table td, .table th{
	padding: 5px !important;
}
.table-nested{
	width: 100%;
	font-size: 12px;
	border-collapse: collapse !important;
}
.table-nested th, .table-nested td{
	border-top: 1px solid #ddd !important;
}
.battery{ cursor: pointer;}


/* Acordion */
.accordion{
	margin-top: 10px;
	background-color: #fafafa;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 7px;
	cursor: pointer;

	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #888;
}
.open{
	border-radius: 4px 4px 0 0;
}
.accordion.active, .accordion:hover{
	background-color: #f5f5f5;
}

.accordion-body {
		display: none;
    padding: 18px;
		border-radius: 0 0 4px 4px;
		border: 1px solid #eaeaea;
		border-top: none;
}
.accordion-row {
	display: none;
}

.footer{
	width: 100%;
	border-top: 1px solid #eaeaea;
	font-size: 14px;
  background-color: #f5f5f5;
	padding: 10px;
}

.footer p a:hover {
	color: #9AD22D;
	text-decoration: dashed;
}
